In [1]:
b = [1, 2, 3]

b?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [2]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#The expression thislist[2:5] is a list slicing operation. It selects elements starting from the index 2 up to, but not including, the index 5.

['cherry', 'orange', 'kiwi']

In [7]:
thislist = ["apple", "car", "maize"]

if "car" in thislist:
    print("Yes apple is in the list")
else:
    print("not in the list")

Yes apple is in the list

In [3]:
my_list = ["Hello", 1, 3, 4, 7, "World"]

num1 = my_list.pop(2)
num2 = my_list.pop(3)

print(f"num1 = {num1} num2 = {num2}")

print(sum((num1,num2)))

num1 = 3 num2 = 7
10

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [3]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [1]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [3]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [3]:
my_string = 'Python'.split(' ')

print(my_string)

['Python']

In [4]:
equation = '160 + 135 =  295'

for symbol in equation:
    if symbol in equation:
        print(symbol) 
        
""" the variable symbol is a placeholder that represents each individual character in the string equation during each iteration of the for loop. """

1
6
0

+

1
3
5

=


2
9
5

In [6]:
a = {1, 2,3, 4}
b = {3,4,5}
c, *d = a & b   #This performs a set intersection operation between sets a and b
"""
c variable is assigned the first value from the set intersection result. In this case, c is assigned the value 3.
The * operator is used here for extended unpacking. It allows you to collect the remaining elements into a list. In this case, it collects all the elements after the first one. So, d will be assigned the list [4].
 
"""
print(d)

[4]

In [7]:
def my_str():
    message = "Python"
    new_msg = message + "is" + message
    new_msg.replace(message, "Greate ")
    # String Replacement (Not Effective)
    """     The replace method does not modify the original string in-place but returns a new string with replacements. In this case, the result of new_msg.replace(...) is not assigned back to new_msg, so the modification is essentially discarded. """   
    return new_msg

print(my_str())

PythonisPython

In [8]:
my_sum = sum(("1", "2","3"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
another_sum = "1" + "2" + "3"

print(another_sum)

123

In [12]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits  # performs tuple unpacking. It assigns each element of the fruits tuple to the variables green, yellow, and red respectively. The order of assignment is based on the order of elements in the tuple.

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [13]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [1]:
thisset = {"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}


thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'papaya', 'banana', 'mango', 'cherry'}

In [1]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [2]:
x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [4]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [1]:
my_list = [
    i for i in range(10) if i>5
]

print(my_list)

[6, 7, 8, 9]